.form-search select {
    min-width: 150px
}

.form-entity .widget-tag {
    display: inline
}

.img-wrapper {
    height: 100px
}

.images > div {
    display: inline-block;
}

.transfer form {
    display: inline-block;
}